<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title class="large-txt">LTU Careers</title>
  <link rel="icon" href="favicon.ico">
  <!--   comment -->
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
  <h1>Welcome to {{appName}}</h1>
  <p>Follow our links to our top opportunities!</p>


    <p><a href="{{url_for("profile")}}"My profile</p>

 <p><a href="{{url_for("browse")}}">All listings</p> </a>
 <p>Featured opportunities: </p>  
   <ol>
     <li class="small-txt"><a href="listings/networkadmin.html">Network admin</a></li>
     <li class="small-txt"><a href="turkeybolognese.html">IT helpdesk assistant</a></li>
     <li class="small-txt"><a href="pumpkincheesecake.html">Trainee software developer</a></li>
  </ol>


</body>
</html>
